@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	margin: 0;
}

li, a, ul, button, p, h1, h2, h3, span {
	font-family: "Raleway", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}
  
img {
	border-style: none;
}

/* HEADER */

.header {
	display: grid;
	align-items: center;
	max-width: 1440px;
	margin: auto;
}

.headerImg {
	grid-area: logo;
	padding: 0 2rem;
	height: 2.813rem;
}

.headerNav {
	display: flex;
	align-items: center;
	grid-area: navbar;
}

.headerNavLink {
	padding: 2rem;
	font-weight: 500;
	text-align: center;
	transition-duration: 0.1s;
	border-top: 3px transparent solid;
	border-bottom: 3px transparent solid;
}

.headerNavLink[data-active=true] {
	color: #0065FC;
}

.headerNavLink:hover {
	color: #0065FC;
}

.headerSignup {
	display: flex;
	align-items: center;
	grid-area: button;
	padding: 2rem;
	color: #0065FC;
	font-weight: 600;
}

/* MEDIA QUERY LAYOUT HEADER EN DESKTOP */


@media screen and (min-width: 501px) {

	.header {
		grid-template-columns: auto 1fr auto auto;
		grid-template-areas: "logo . navbar button";
	}
	.headerNavLink[data-active=true] {
		border-top: 3px solid #0065FC;
	}
	.headerNavLink:hover {
		border-top: 3px solid #0065FC;
	}
}

footer {
	background: #F2F2F2;
}

/* MAIN */

.main {
	max-width: 1440px;
	margin: auto;
	padding: 0 2rem;
	box-sizing: border-box;
}

/* SEARCH */

.rechercheHeaderTitre {
	margin-bottom: 0.5rem;
	font-size: 2rem;
}

.rechercherHeaderSoustitre {
	margin-top: 0;
}

.formulaireRecherche {
	display: inline-flex;
	max-width: 100%;
	overflow: auto;
  }

.iconeFormulaireRecherche {
	background-color: #F2F2F2;
	padding: 1rem 1.25rem;
	border-radius: 1rem 0 0 1rem;
	text-align: center;
  }

.iconeFormulaireRechercheIcone {
	margin-left: 0.1rem;
}

/* MEDIA QUERY POUR CACHER L'ICONE RECHERCHE EN DESKTOP */

@media screen and (min-width: 501px) {
	.iconeRecherche {
    	display: none !important;
	}
}

.formulaireRechercheInput {
	border-right: none;
	border-left: none;
	border-top: #F2F2F2 1px solid;
	border-bottom: #F2F2F2 1px solid;
	padding: 0 1.5rem;
	box-sizing: border-box;
	width: 14rem;
	font-size: 1rem;
	font-weight: bold;
	font-family: "Raleway", "Sans serif";
}

.formulaireRechercheInput::placeholder {
	font-family: "Raleway", "Sans serif";
	font-size: 1rem;
	color: #00000069;
}

.formulaireRechercheInputSubmit {
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 0 1rem 1rem 0;
	padding: 0 1.5rem;
	font-family: "Raleway", "Sans serif";
	font-size: 1rem;
	cursor: pointer;
}

.searchFilters {
	display: flex;
	margin-top: 2rem;
	flex-wrap: wrap;
}

.searchFiltersTitle {
	margin: 0 2rem 1rem 0;
	display: flex;
	align-items: center;
}
  
.searchFiltersFilter {
	display: flex;
	align-items: center;
	margin-right: 2rem;
	border: 2px solid #d9d9d9;
	border-radius: 2rem;
	margin-bottom: 1rem;
	cursor: pointer;
	transition-duration: 0.1s;
	font-weight: bold;
}

.searchFiltersFilter:last-child {
	margin-right: 0;
}

.searchFiltersFilter:hover {
	transform: scale(1.02);
}

.searchFiltersFilterIcone {
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 3rem;
	width: 3rem;
	min-height: 3.5rem;
	min-width: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
}

.searchFiltersFilterIconeIcone {
	color: blue;
}

.searchFiltersFilterTitle {
	margin: 0 1rem;
}

.searchResult {
	display: flex;
	align-items: center;
	margin: 1rem 0 2rem 0;
}

.searchResultWrapicon {
	height: 2rem;
	width: 2rem;
	min-height: 2rem;
	min-width: 2rem;
	border: solid 1px #d9d9d9;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}

.searchResultWrapiconIcon {
	color: #0065FC;
}

.searchResultText {
	margin: 0;
}

section ul {
	margin: 0;
	padding: 0;
}


/* HÉBERGEMENTS À MARSEILLE */

.hebergements{
	display:flex;
	font-size: 15px;
	font-weight: 300;
}

.hebergements span{
	color: #161616;
}

.titre-item{
	font-weight: bold;
	font-size: 16px;
}

#marseille{
	flex: 2;
	background: #F2F2F2;
	border-radius: 8px;
	margin-right: 30px;
	padding: 20px;
}

#marseille h2 {
	margin: 0rem;
}

#populaire{
	flex: 1;
	background: #F2F2F2;
	border-radius: 8px
}

#populaire h2 {
	margin: 0rem;
}
#marseille .titraille {
	font-size: 1.3rem;
	font-weight: bold;
}

#grid{
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#grid .item1 {
	background: #FFFFFF;
	border-radius: 8px;
	margin-right: 20px;
	margin-top: 20px;
	box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.04);
}

.item1{
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	cursor: pointer;
}

.item1:hover {
	transform: scale(1.02);
}

.item1 .text {
	display: flex;
	flex-direction: column;
	margin: 0px 15px 10px 15px;
}



.item1 img{
	height: 120px;
	object-fit: cover;
	border-radius: 8px;
	padding: 5px;
}

.rating{
	display:flex;
	margin-top: 8px;
}

.iconeRatingStar[data-active=true] {
	color: #0065FC;
}

.iconeRatingStar[data-active=false] {
	color: #d9d9d9;
}

.text span{
	padding-top: 5px;
}

/* LES PLUS POPULAIRES */

.les_plus_populaires .titraille{
	font-size: 1.3rem;
	font-weight: bold;
}


#populaire{
	background: #F2F2F2;
	border-radius: 8px;
	padding: 20px;
}


.les_plus_populaires {
	display: flex;
	justify-content: space-between;
}

#populaire .flexvertical{
	margin-top: 10px;
}

.flexvertical{
	display:flex;
	flex-direction: column;
}

.itemvertical{
	display: flex;
	flex-direction: row;
	transition-duration: 0.1s;
	cursor: pointer;
}

.itemvertical:hover {
	transform: scale(1.02);
}

.itemvertical img{
	height: 130px;
	width: 130px;
	object-fit: cover;
	border-radius: 8px;
	padding: 5px;
}


.flexvertical .itemvertical {
	background: #FFFFFF;
	border-radius: 8px;
	margin-right: 20px;
	margin-top: 20px;
	box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.04);
}

.itemvertical .text{
	display: flex;
	flex-direction: column;
	margin: 0px 15px 10px 15px;
}

.itemvertical .rating{
	margin-top: auto;
}


/* ACTIVITÉS À MARSEILLE */

.activites .titraille {
	font-size: 1.3rem;
	font-weight: bold;
}

.activites{
	border-radius: 8px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#marseille2{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#marseille2 img{
	max-width: 350px;
	object-fit: cover;
	border-radius: 8px;

}

#marseille2 span{
	font-weight: bold;
}

#marseille2 .colonne{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.small_item{
	background: white;
	border-radius: 25px;
	box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.04);
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	cursor: pointer;
}

.small_item:hover {
	transform: scale(1.02);
}

.small_item span{
	margin: 15px 0px 15px 15px;
}

.grand_item{
	background: white;
	border-radius: 25px;
	box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.04);
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	cursor: pointer;
}

.grand_item:hover {
	transform: scale(1.02);
}

.grand_item img{
	height: 400px;
}


#marseille2 .colonne{
	max-height: 450px;
}

.small_item img{
	max-height: 150px;
	max-width: 330px;
	min-width: 280px;
}

.grand_item span{
	margin: 15px 0px 15px 15px;
}

/* FOOTER */

.footer {

	background-color: #F2F2F2;
	width: 100%;
}

.footerColumnwrapper {
	display: flex;
	max-width: 100%;
	width: 1440px;
	margin: auto;
	padding: 0 2rem;
	box-sizing: border-box;
}

.footerColumnwrapperColumn {
	width: 30%;
	padding: 2rem 2rem;
}

.footerColumnwrapperColumnLink {
	display: block;
	margin: 1rem 0;
}

.footerColumnwrapperColumnLink:hover {
	text-decoration: underline;
}

/* MOBILE MEDIA QUERIES  0px - 500px */

@media all and (max-width: 500px){

	.header {
		grid-template-columns: auto 1fr auto;
		grid-template-areas:
			"logo . button"
			"navbar navbar navbar";
	}

	.headerNav {
		order: 2;
	}

	.headerSignup {
		order: 1;
	}

	.headerNavLink[data-active=true] {
		border-bottom-color: #0065FC;
	}

	.headerNavLink {
		border-top: none;
		border-bottom: 3px solid #F2F2F2;
		width: 50%;
	}

	.formulaireRecherche {
		display: flex;
		width: 100%;
	}

	.formulaireRechercheInput {
		flex: 1;
	}

	.formulaireRechercheInputSubmitTexte {
		display: none;
	}

	.filtres li {
		margin: 5px 5px 5px 5px;
	}

	.hebergements{
		display:flex;
		flex-direction: column;
		font-size: 15px;
		font-weight: 300;
	}

	#populaire{
		background: #F2F2F2;
		border-radius: 8px;
		margin-top: 20px;
		padding: 20px;
	}

	#grid{
		margin-top: 10px;
		display: grid;
		grid-template-columns: 1fr;
	}

	#grid .item1 {
		background: #FFFFFF;
		border-radius: 8px;
		margin-right: 0px;
		margin-top: 20px;
		box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.04);
	}

	#marseille{
		flex: 2;
		background: #F2F2F2;
		border-radius: 8px;
		margin-right: 0px;
		padding: 20px;
	}

	#marseille2{
		display: flex;
		flex-direction: column;
	}

	.activites{
		border-radius: 8px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.small_item{
		margin-top: 20px;
	}

	.grand_item img{
		max-height: 150px;
	}

	.grand_item{
		margin-top: 20px;
	}

	#marseille2 .colonne{
		max-height: 480px;
	}

	.footerColumnwrapper {
		flex-direction: column;
		padding: 2rem;
	}

	.footerColumnwrapperColumn {
		width: 100%;
		padding: 0;
		margin: 1rem 0;
	}

	.footerColumnwrapperColumn:first-child {
		margin-top: 0;
	}

	.footerColumnwrapperColumn:last-child {
		margin-bottom: 0;
	}

	.footerColumnwrapperColumnTitle {
		margin: 0;
	}

	.footerColumnwrapperColumnLink:last-child {
		margin-bottom: 0;
	}

	.flexvertical .itemvertical {
		background: #FFFFFF;
		border-radius: 8px;
		margin-right: 0px;
		margin-top: 20px;
		box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.04);
	}
}

/* TABLETTE MEDIA QUERIES 500px - 1440px */

@media (max-width: 1439px) {
	.hebergements {
    	display: flex;
		flex-direction: column;
	}

	#marseille{
		padding: 20px;
		margin-right: 0px;
		margin-bottom: 20px;
	}

	#marseille2{
		display: flex;
		flex-direction: column;
		padding: 0px;
	}

	#marseille2 img{
		max-width: 800px;
	}
	
	#marseille2 .small_item{
		margin-bottom: 20px;
		margin-top: 20px;
	}
}





